
body {
    padding: 0px;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    min-height: 100vh;
}
#content {
    height: 100%;
}
#canvas {
    border: 1px solid black;
    float: left;
}
#drag {
    position: absolute;
    visibility: hidden;
    border: 1px solid rgb(255, 0, 0);
    z-index: 999999;
}

#controls {
    position: absolute;
    top: 20px;
    left: 20px;
    border: 1px solid gray;
    border-radius: 3px;
    background-color: rgba(70,70,70,0.6);
    padding: 10px;
    color: white
}
#controls input {
    border: 1px solid green;
    border-radius: 2px;
    display: inline-block;
    margin-left: 10px;
    padding:5px;
}
#controls label {
    display: inline-block;
    width: 100px;
    text-align: right;
}
#controls .color-scheme {
    padding-top: 20px;
    padding-bottom: 10px;
    width: 100px;
    text-align: right;
}

#rect {
    font-size: 10px;
    width: 300px;
}

#gradient {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%
}

#buttons {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}